* text=auto !eol
/ACKNOWLEDGEMENTS -text
/AUTHORS -text
/apertium-gle.gle.dix -text
/apertium-gle.gle.rlx -text
dev/irishfst/COPYING -text
dev/irishfst/Makefile -text
dev/irishfst/README -text
dev/irishfst/dis/lookup2cg3.prl -text
dev/irishfst/src/abr-lex.txt -text
dev/irishfst/src/adj-lex-cc.txt -text
dev/irishfst/src/adj-lex-fgb-eqvar.txt -text
dev/irishfst/src/adj-lex-fgb-var.txt -text
dev/irishfst/src/adj-lex-fgb1.txt -text
dev/irishfst/src/adj-lex-fgb2.txt -text
dev/irishfst/src/adj-lex-multi.txt -text
dev/irishfst/src/adj-lex-multi.txt.old -text
dev/irishfst/src/adj-lex-stems-irreg.txt -text
dev/irishfst/src/adj-lex-stems.txt -text
dev/irishfst/src/adj-lex-stems2.txt -text
dev/irishfst/src/adj-lex-stems3.txt -text
dev/irishfst/src/adj-lex-stems4.txt -text
dev/irishfst/src/adj-lex-stems5.txt -text
dev/irishfst/src/adv-lex.txt -text
dev/irishfst/src/art-lex.txt -text
dev/irishfst/src/conj-lex.txt -text
dev/irishfst/src/det-lex.txt -text
dev/irishfst/src/f-reg-tidy.txt -text
dev/irishfst/src/foma-lexguess.script -text
dev/irishfst/src/foma-lexguess.script.bak -text
dev/irishfst/src/itj-lex.txt -text
dev/irishfst/src/n-lex-cc.txt -text
dev/irishfst/src/n-lex-fgb-eqvar.txt -text
dev/irishfst/src/n-lex-fgb-variants.txt -text
dev/irishfst/src/n-lex-fgb1.txt -text
dev/irishfst/src/n-lex-fgb2.txt -text
dev/irishfst/src/n-lex-irreg.txt -text
dev/irishfst/src/n-lex-multi.txt -text
dev/irishfst/src/n-lex-stems.txt -text
dev/irishfst/src/n-lex-stems2.txt -text
dev/irishfst/src/n-lex-stems3.txt -text
dev/irishfst/src/n-lex-stems4.txt -text
dev/irishfst/src/n-lex-stems5.txt -text
dev/irishfst/src/n-lex-stems6.txt -text
dev/irishfst/src/n-reg-br.txt -text
dev/irishfst/src/n-reg-chg.txt -text
dev/irishfst/src/n-reg-chk.txt -text
dev/irishfst/src/n-reg-cmpd.txt -text
dev/irishfst/src/n-reg-diph.txt -text
dev/irishfst/src/n-reg-init.txt -text
dev/irishfst/src/n-reg-slen.txt -text
dev/irishfst/src/n-reg-sync.txt -text
dev/irishfst/src/n-reg-tidy.txt -text
dev/irishfst/src/n-reg-vh.txt -text
dev/irishfst/src/n-reg-x.txt -text
dev/irishfst/src/np-lex-cc.txt -text
dev/irishfst/src/np-lex-eire-en.txt -text
dev/irishfst/src/np-lex-eire.txt -text
dev/irishfst/src/np-lex-fam-en.txt -text
dev/irishfst/src/np-lex-fam.txt -text
dev/irishfst/src/np-lex-irreg.txt -text
dev/irishfst/src/np-lex-multi.txt -text
dev/irishfst/src/np-lex-org.txt -text
dev/irishfst/src/np-lex-pers-en-new.txt -text
dev/irishfst/src/np-lex-pers.txt -text
dev/irishfst/src/np-lex-tir-en.txt -text
dev/irishfst/src/np-lex-tir.txt -text
dev/irishfst/src/np-logainm-sampla-ga.txt -text
dev/irishfst/src/num-lex.txt -text
dev/irishfst/src/part-lex.txt -text
dev/irishfst/src/prep-lex.txt -text
dev/irishfst/src/pron-lex.txt -text
dev/irishfst/src/punct-lex.txt -text
dev/irishfst/src/tags-lex.txt -text
dev/irishfst/src/tobar-lex.txt -text
dev/irishfst/src/v-lex-fgb-eqvar.txt -text
dev/irishfst/src/v-lex-fgb-var.txt -text
dev/irishfst/src/v-lex-fgb1.txt -text
dev/irishfst/src/v-lex-fgb2.txt -text
dev/irishfst/src/v-lex-multi.txt -text
dev/irishfst/src/v-reg.txt -text
dev/irishfst/src/v1-lex-cc.txt -text
dev/irishfst/src/v1-lex-stems.txt -text
dev/irishfst/src/v12-lex-cc.txt -text
dev/irishfst/src/v2-lex-cc.txt -text
dev/irishfst/src/v2-lex-stems.txt -text
dev/irishfst/src/v3-lex-stems.txt -text
dev/irishfst/src/v4-lex-stems.txt -text
dev/irishfst/src/v5-lex-stems.txt -text
dev/irishfst/src/va-lex-stems.txt -text
dev/irishfst/src/vn-lex-fgb-eqvar.txt -text
dev/irishfst/src/vn-lex-fgb-var.txt -text
dev/irishfst/src/vn-lex-stems.txt -text
dev/irishfst/src/vng-lex-stems.txt -text
dev/irishfst/src/vnva-lex-cc.txt -text
dev/irishfst/src/vnva-lex-fgb1.txt -text
dev/irishfst/src/vnva-lex-multi.txt -text
dev/irishfst/src/xfst-allcaps.script -text
dev/irishfst/src/xfst-compounds.script -text
dev/irishfst/src/xfst-digit.script -text
dev/irishfst/src/xfst-fix.script -text
dev/irishfst/src/xfst-guess-big.script -text
dev/irishfst/src/xfst-guess-foreign.script -text
dev/irishfst/src/xfst-guess-noun2.script -text
dev/irishfst/src/xfst-guess-ria.script -text
dev/irishfst/src/xfst-guess-ttypo.script -text
dev/irishfst/src/xfst-guess-typo.script -text
dev/irishfst/src/xfst-guess-unknown.script -text
dev/irishfst/src/xfst-guess-verb.script -text
dev/irishfst/src/xfst-initcaps.script -text
dev/irishfst/src/xfst-prefixes.script -text
dev/irishfst/src/xfst-suffixes.script -text
dev/irishfst/src/xfst-urucaps.script -text
dev/irishfst/test.sh -text
dev/irishfst/test.txt -text
